@font-face {
  font-family: omnes-pro;
  src: url(https://use.typekit.net/af/570fe7/000000000000000000012863/21/l?subset_id=2&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/570fe7/000000000000000000012863/21/d?subset_id=2&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/570fe7/000000000000000000012863/21/a?subset_id=2&fvd=n4&v=3)
      format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: fallback; /* Define how the browser behaves during download https://css-tricks.com/almanac/properties/f/font-display/ */
}
@font-face {
  font-family: omnes-pro;
  src: url(https://use.typekit.net/af/894210/000000000000000000012861/21/l?subset_id=2&fvd=n3&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/894210/000000000000000000012861/21/d?subset_id=2&fvd=n3&v=3)
      format("woff"),
    url(https://use.typekit.net/af/894210/000000000000000000012861/21/a?subset_id=2&fvd=n3&v=3)
      format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: omnes-pro;
  src: url(https://use.typekit.net/af/44d911/000000000000000000012865/21/l?subset_id=2&fvd=n5&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/44d911/000000000000000000012865/21/d?subset_id=2&fvd=n5&v=3)
      format("woff"),
    url(https://use.typekit.net/af/44d911/000000000000000000012865/21/a?subset_id=2&fvd=n5&v=3)
      format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
body {
    line-height: 1.6;
    font-family: "omnes-pro", helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
  } 
a {
    color: #9702BC;
}
a:active,
a:visited {
    color: #9702BC;
}
a:hover {
    color: #9702BC;
}
main > section {
    padding: 20px 30px;
}
.sectionOne {
    background-color: #AE0004;
    color: #670A0C;
}
.sectionOne h2 {
    color: #FF4A4A;
}
.sectionTwo {
    background-color: #FF4F00;
    color: #932E00;
}
.sectionTwo h2 {
    color: #FF824A;
}
.sectionThree {
    background-color: #FFD300;
    color: #937A00;
}
.sectionThree h2 {
    color: #DBBE31;
}
.sectionFour {
    background-color: #0CF900;
    color: #2EB127;
}
.sectionFour h2 {
    color: #4EC348;
}
.sectionFive {
    background-color: #0A4DF5;
    color: #05226A;
}
.sectionFive h2 {
    color: #4761A1;
}
