body {
    line-height: 1.6;
    font-family: "omnes-pro", helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
  } 
section {
    padding: 20px 30px;
}
.sectionOne {
    background-color: #AE0004;
    color: #670A0C;
}
.sectionOne h2 {
    color: #FF4A4A;
}
.sectionTwo {
    background-color: #FF4F00;
    color: #932E00;
}
.sectionTwo h2 {
    color: #FF824A;
}
.sectionThree {
    background-color: #FFD300;
    color: #937A00;
}
.sectionThree h2 {
    color: #DBBE31;
}
.sectionFour {
    background-color: #0CF900;
    color: #2EB127;
}
.sectionFour h2 {
    color: #4EC348;
}
.sectionFive {
    background-color: #0A4DF5;
    color: #05226A;
}
.sectionFive h2 {
    color: #4761A1;
}