body {
    line-height: 1.6;
    font-family: helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    width: 100%;
    margin: auto auto;
}
header {
    position: sticky;
    top: 0;
    background: #FFFFFF;
    height: 40px;
    padding: 10px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav {
    height: 20px;
}
ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
li {
    display: inline;
}
a {
    color: #9702BC;
}
a:active,
a:visited {
    color: #9702BC;
}
a:hover {
    color: #9702BC;
}
main > section {
    padding: 100px 30px;
    height: 100vh;
}
.sectionOne {
    background-color: #AE0004;
    color: #670A0C;
    display: flex;
    justify-content: space-around;
    height: 100vh;
}
.sectionOne h2 {
    color: #FF4A4A;
}
.sectionOne-description {
    width: 40%;
}
.languagesContainer {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    height: 80%;
    width: 30%;
}
.img-html,
.img-css,
.img-python,
.img-git,
.img-github {
    width: 100px;
    height: 100px;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    margin: 5px;
}
.breaker {display: none;}
.breaker:nth-child(3n) {
    display:block;
    width: 100%;
    height: 0;
 }
.sectionTwo {
    background-color: #FF4F00;
    color: #932E00;
}
.sectionTwo h2 {
    color: #FF824A;
}
.sectionThree {
    background-color: #FFD300;
    color: #937A00;
}
.sectionThree h2 {
    color: #DBBE31;
}
.sectionFour {
    background-color: #0CF900;
    color: #2EB127;
}
.sectionFour h2 {
    color: #4EC348;
}
.sectionFive {
    background-color: #0A4DF5;
    color: #05226A;
}
.sectionFive h2 {
    color: #4761A1;
}
